@charset "utf-8";
/* CSS Document */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #A2A2A2;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.div{
	background: #6B6B6B;
}
.menu{
	width: 90%;
	border-radius: 20px;
	box-shadow: 5px 20px 50px #000;
}

h1 {
	color: #fff;
	font-size: 2.5em;
	margin: 40px auto;
	font-weight: 500;
}
input{
	display: flex;
	width: 65%;
	height: 40px;
	background: #e0dede;
	margin: 20px auto;
	padding: 5px;
	border: none;
	outline: none;
	border-radius: 5px;
}
select{
	width: 25%;
	height: 40px;
	background: #e0dede;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 5px;
	margin: 20px auto;
	align-content: stretch;
}
button{
	width: 25%;
	height: 40px;
	padding: 5px;
	margin: 20px auto;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: 700;
	outline: none;
	border: none;
	border-radius: 5px;
	align-content: stretch;
}
button:hover{
	background: #6d44b8;
}